<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>
<h2>Users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.roles}"></td>
        <td>
            <a th:href="@{/admin/updateUser(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/deleteUser(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{/admin/saveUser}">Add User</a>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>