<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти из аккаунта</button>
</form>
<h1>Панель Администратора</h1>
<h2>Список пользователей:</h2>
<table border="2">
    <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Почта</th>
        <th>Роли</th>
        <th colspan="2">Действия</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td>
           <span th:each="role, iter : ${user.roles}"
                 th:text="${role.name} + (${iter.last} ? '' : ', ')">
            </span>
        </td>
        <td>
            <a th:href="@{/admin/updateUser(id=${user.id})}">
                <button>Изменить</button>
            </a>
        </td>
        <td>
            <a th:href="@{/admin/deleteUser(id=${user.id})}">
                <button>Удалить</button>
            </a>
        </td>
    </tr>
</table>
<br/>
<a th:href="@{/admin/saveUser}" class="btn">
    <button>Создать нового пользователя</button>
    <br>
    <br>
    <a th:href="@{/user/}">
        <button>Личный кабинет</button>
    </a>
</a>
</body>
</html>