<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
</head>
<body>
<h1>Add User</h1>
<form th:action="@{/admin/saveUser}" th:object="${user}" method="post">
    <div>
        <label>Username: <input type="text" th:field="*{username}"/></label>
    </div>
    <div>
        <label>Password: <input type="password" th:field="*{password}"/></label>
    </div>
    <div>
        <label>Roles:
            <select multiple th:field="*{roles}">
                <option th:each="role : ${allRoles}"
                        th:value="${role.id}"
                        th:text="${role.name}"></option>
            </select>
        </label>
    </div>
    <div>
        <input type="submit" value="Save"/>
    </div>
</form>
<a th:href="@{/admin/}">Back</a>
</body>
</html>