<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти из аккаунта</button>
</form>
<h1>Личный кабинет</h1>
<table border="2">
    <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Роли</th>
    </tr>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <span th:each="role, iter : ${user.roles}"
                  th:text="${role.name} + (${iter.last} ? '' : ', ')">
            </span>
        </td>
    </tr>
</table>
<br>
</body>
</html>